
Label , RadioButton , CheckBox{
    -fx-text-alignment : center;
    -fx-font-size :16;
    -fx-font-weight : bold;
    -fx-text-fill: black;
}

TextField , PasswordField{
    -fx-padding: 5 10 5 10;
    -fx-border-color: darkblue;
    
}
.btn{
    -fx-padding: 7 25 7 25;
    -fx-background-color: blue;
    -fx-border-radius: 10; 
    -fx-text-fill: white;
    -fx-font-weight : bold;


}
.btn:hover{
   -fx-background-color: deepskyblue;

}
.stackPane{
    -fx-background-color : linear-gradient(to bottom right, darkblue, deepskyblue);
    -fx-alignment: center;
    -fx-text-fill: white;
}
.stackPane Label{
    -fx-text-fill: white;
}

.darkMode {
    -fx-background-color: #36393e ;
}

.darkMode CheckBox{
    -fx-text-fill: white;
}
  
.darkMode Label{
    -fx-text-fill: white;
}
.darkMode RadioButton{
    -fx-text-fill: white;
}